<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/head :: head}"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

<div th:replace="~{admin/fragments/header :: header}"></div>
  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Blank page
        <small>it all starts here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/assets/#}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a th:href="@{/assets/#}">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class = "col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Đăng tin tuyển dụng</h3>
                </div>

                <div th:if="${error}" class="alert alert-danger" role="alert">
                  <span th:text="${error}"></span>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" method="post" th:action="@{/admin/add-tintd}" th:object="${tinTuyenDung}">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="tieuDe">Tiêu đề tuyển dụng</label>
                          <input type="text" class="form-control" id="tieuDe" placeholder="Tiêu đề tuyển dụng"
                                 th:field="*{tieuDe}" required>
                        </div>
                        <div class="form-group">
                          <label for="congty">Công ty</label>
                          <select class="form-control" id="congty" th:field="*{congty.id}"
                                  oninvalid="this.setCustomValidity('Vui lòng chọn công ty')"
                                  oninput="this.setCustomValidity('')">
                              <option value="">Chọn công ty</option>
                              <option th:each="cty : ${dsCongTy}" 
                                      th:value="${cty.id}" 
                                      th:text="${cty.tenCongTy}">
                              </option>
                          </select>
                          <div class="text-danger" 
                                th:if="${#fields.hasErrors('congty')}" 
                                th:errors="*{congty}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="hinhThucLV">Hình thức làm việc</label>
                          <select class="form-control" id="hinhThucLV" th:field="*{hinhThucLV}" required>
                              <option value="">Chọn hình thức làm việc</option>
                              <option value="Full-time">Full-time</option>
                              <option value="Part-time">Part-time</option>
                              <option value="Freelance">Freelance</option>
                              <option value="HopDong">Hợp đồng ngắn hạn</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="diaDiemLV">Địa điểm làm việc</label>
                          <input type="text" class="form-control" id="diaDiemLV" placeholder="Địa điểm làm việc"
                                 th:field="*{diaDiemLV}" required>
                        </div>
                        <div class="form-group">
                          <label for="mucLuong">Mức Lương</label>
                          <input type="text" class="form-control" id="mucLuong" placeholder="Mức lương"
                                 th:field="*{mucLuong}" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="linhVuc">Lĩnh Vực công việc</label>
                          <select class="form-control" id="linhVuc" th:field="*{linhVuc}" required>
                              <option value="">Chọn lĩnh vực công việc</option>
                              <option value="Ketoan-Taichinh">Kế toán - Tài chính</option>
                              <option value="It">Công nghệ</option>
                              <option value="Dichvu">Dịch vụ</option>
                              <option value="Marketing">Marketing</option>
                              <option value="Nhansu">Nhân sự</option>
                              <option value="Chamsocsuckhoe">Chăm sóc sức khoẻ</option>
                              <option value="Thietke">Thiết kế</option>
                              <option value="Qlyduan">Quản lý dự án</option>
                              <option value="Oto">Công nghiệp ô tô</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="hanNop">Hạn nộp hồ sơ</label>
                          <input type="date" class="form-control" id="hanNop" 
                                 th:field="*{hanNop}" required>
                        </div>
                        <div class="form-group">
                          <label for="moTa">Mô tả công việc</label>
                          <textarea class="form-control" id="moTa" rows="3"
                                    th:field="*{moTaCongViec}" required></textarea>
                        </div>
                        <div class="form-group">
                          <label for="yeuCau">Yêu cầu ứng viên</label>
                          <textarea class="form-control" id="yeuCau" rows="3" 
                                    th:field="*{yeuCau}" required></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
    
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
        </div>
      

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div th:replace="~{admin/fragments/footer :: footer}">

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="~{admin/fragments/script :: script}"></div>
</body>
</html>
