
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
   


<head th:replace="~{user/layout/head :: head}"></head>

<body data-anm=".anm">


  <div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <header th:replace="~{user/layout/header :: header}"></header>
    <!--End Main Header -->

    <!-- Banner Section-->
    <section class="banner-section">
      <div class="auto-container">
        <div class="row">
          <div class="content-column col-lg-7 col-md-12 col-sm-12">
            <div class="inner-column wow fadeInUp" data-wow-delay="1000ms">
              <div class="title-box">
                <h3>Có <span class="colored">93,178</span> tin tuyển dụng<br> dành cho bạn!</h3>
                <div class="text">Tìm kiếm việc làm & cơ hội nghề nghiệp </div>
              </div>

              <!-- Job Search Form -->
              <div class="job-search-form">
                <form method="get" th:action="@{/tim-kiem}">
                  <div class="row">
                    <div class="form-group col-lg-5 col-md-12 col-sm-12">
                      <span class="icon flaticon-search-1"></span>
                      <input type="text" name="tuKhoa" th:value="${tuKhoa}" placeholder="Tiêu đề, từ khoá, hoặc công ty">
                    </div>
                    <!-- Form Group -->
                    <div class="form-group col-lg-4 col-md-12 col-sm-12 location">
                      <span class="icon flaticon-map-locator"></span>
                      <input type="text" name="diaDiem" th:value="${diaDiem}" placeholder="Thành phố hoặc vị trí">
                    </div>
                    <!-- Form Group -->
                    <div class="form-group col-lg-3 col-md-12 col-sm-12 btn-box">
                      <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Tìm việc</span></button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Job Search Form -->

              <!-- Popular Search -->
              <div class="popular-searches">
                <span class="title">Tìm kiếm nổi bật : </span>
                <a th:href="@{fe/#}">Designer</a>,
                <a th:href="@{fe/#}">Developer</a>,
                <a th:href="@{fe/#}">Web</a>,
                <a th:href="@{fe/#}">IOS</a>,
                <a th:href="@{fe/#}">PHP</a>,
                <a th:href="@{fe/#}">Senior</a>,
                <a th:href="@{fe/#}">Engineer</a>,
              </div>
              <!-- End Popular Search -->
            </div>
          </div>

          <div class="image-column col-lg-5 col-md-12">
            <div class="image-box">
              <figure class="main-image wow fadeIn" data-wow-delay="500ms"><img th:src="@{fe/images/resource/banner-img-1.png}" alt=""></figure>

              <!-- Info BLock One -->
              <div class="info_block anm wow fadeIn" data-wow-delay="1000ms" data-speed-x="2" data-speed-y="2">
                <span class="icon flaticon-email-3"></span>
                <p>Thông báo qua mail</p>
              </div>

              <!-- Info BLock Two -->
              <div class="info_block_two anm wow fadeIn" data-wow-delay="2000ms" data-speed-x="1" data-speed-y="1">
                <p>5k+ Ứng viên</p>
                <div class="image"><img th:src="@{fe/images/resource/multi-peoples.png}" alt=""></div>
              </div>

              <!-- Info BLock Three -->
              <div class="info_block_three anm wow fadeIn" data-wow-delay="1500ms" data-speed-x="4" data-speed-y="4">
                <span class="icon flaticon-briefcase"></span>
                <p>Tạo công ty của bạn</p>
                <span class="sub-text">Khởi nghiệp</span>
                <span class="right_icon fa fa-check"></span>
              </div>

              <!-- Info BLock Four -->
              <div class="info_block_four anm wow fadeIn" data-wow-delay="2500ms" data-speed-x="3" data-speed-y="3">
                <span class="icon flaticon-file"></span>
                <div class="inner">
                  <p>Đăng file CV của bạn</p>
                  <span class="sub-text">Chỉ mất vài giây</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Section-->

    <!-- Job Categories -->
    <section class="job-categories">
      <div class="auto-container">
        <div class="sec-title text-center">
          <h2>Các lĩnh vực công việc phổ biến</h2>
          <div class="text">2025 công việc - 293 việc mới hôm nay.</div>
        </div>

        <div class="row wow fadeInUp">
          <!-- Category Block -->
          <div class="category-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-money-1"></span>
                <h4><a th:href="@{fe/#}">Kế toán - Tài chính</a></h4>
                <p>(2 open positions)</p>
              </div>
            </div>
          </div>

          <!-- Category Block -->
          <div class="category-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-promotion"></span>
                <h4><a th:href="@{fe/#}">Marketing</a></h4>
                <p>(86 vị trí đang mở)</p>
              </div>
            </div>
          </div>

          <!-- Category Block -->
          <div class="category-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-vector"></span>
                <h4><a th:href="@{fe/#}">Thiết kế</a></h4>
                <p>(43 vị trí đang mở)</p>
              </div>
            </div>
          </div>

          <!-- Category Block -->
          <div class="category-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-web-programming"></span>
                <h4><a th:href="@{fe/#}">Công nghệ thông tin</a></h4>
                <p>(12 vị trí đang mở)</p>
              </div>
            </div>
          </div>

          <!-- Category Block -->
          <div class="category-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-headhunting"></span>
                <h4><a th:href="@{fe/#}">Nhân sự</a></h4>
                <p>(55 vị trí đang mở)</p>
              </div>
            </div>
          </div>

          <!-- Category Block -->
          <div class="category-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-rocket-ship"></span>
                <h4><a th:href="@{fe/#}">Quản lý dự án</a></h4>
                <p>(2 vị trí đang mở)</p>
              </div>
            </div>
          </div>

          <!-- Category Block -->
          <div class="category-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-support-1"></span>
                <h4><a th:href="@{fe/#}">Dịch vụ</a></h4>
                <p>(2 vị trí đang mở)</p>
              </div>
            </div>
          </div>

          <!-- Category Block -->
          <div class="category-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-first-aid-kit-1"></span>
                <h4><a th:href="@{fe/#}">Chăm sóc sức khoẻ</a></h4>
                <p>(25 vị trí đang mở)</p>
              </div>
            </div>
          </div>

          <!-- Category Block -->
          <div class="category-block col-lg-4 col-md-6 col-sm-12">
            <div class="inner-box">
              <div class="content">
                <span class="icon flaticon-car"></span>
                <h4><a th:href="@{fe/#}">Công nghiệp ô tô</a></h4>
                <p>92 vị trí đang mở</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Job Categories -->

    <!-- steps Section -->
    <section class="steps-section layout-pt-60 layout-pb-60">
        <div class="auto-container">
            <div class="row">
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <figure class="image"><img th:src="@{fe/images/index-11/text/image-1.png}" alt=""></figure>
                    </div>
                </div>
  
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInUp">
                        <div class="sec-title -type-2">
                            <h2>Tìm kiếm công việc chỉ với 3 bước đơn giản</h2>
                            <ul class="steps-list">
                                <li><span class="count">01</span> Tạo tài khoản để bắt đầu</li>
                                <li><span class="count">02</span> Khám phá hơn hàng ngàn tin tuyển dụng</li>
                                <li><span class="count">03</span> Tìm kiếm công việc phù hợp với bạn nhất</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Steps Section -->

    <!-- Job Section -->
    <section class="layout-pt-60 layout-pb-60">
    <div class="auto-container">
      <div class="row wow fadeInUp">
        <div class="featured-column col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="sec-title text-center">
            <h2 class="color-blue-dark fw-700">Những công việc mới nhất</h2>
            <div class="text">Hiểu giá trị bản thân để tìm công việc xứng đáng với cuộc sống của bạn.</div>

            <div class="mt-50">
              <ul class="switchbox -horizontal">
                <li>
                  <label class="switch">
                    <input type="checkbox" class="job-type-filter" data-type="Tự do" checked>
                    <span class="slider round"></span>
                    <span class="title">Freelance</span>
                  </label>
                </li>
                <li>
                  <label class="switch">
                    <input type="checkbox" class="job-type-filter" data-type="Toàn thời gian" checked>
                    <span class="slider round"></span>
                    <span class="title">Full Time</span>
                  </label>
                </li>
                <li>
                  <label class="switch">
                    <input type="checkbox" class="job-type-filter" data-type="Bán thời gian" checked>
                    <span class="slider round"></span>
                    <span class="title">Part Time</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="outer-box job-block-five-separated">

            <!-- Job Block -->
            <div th:each="job : ${latestJobs}" class="job-block-five" th:data-job-type="${job.hinhThucLV}">
              <div class="inner-box">
                <div class="content">
                  <span class="company-logo">                        
                        <img th:if="${job.congty != null && job.congty.logo != null}" 
                            th:src="@{'/fe/images/resource/company-logo/' + ${job.congty.logo}}" 
                            th:alt="${job.congty.tenCongTy}">
                        <img th:unless="${job.congty != null && job.congty.logo != null}" 
                            th:src="@{/fe/images/resource/company-logo/default.jpg}" alt="Logo">
                      </span>
                  <h4><a th:href="@{/chitiet-tintd/{id}(id=${job.id})}" th:text="${job.tieuDe}">Tiêu đề công việc</a></h4>
                  <ul class="job-info mb-0">
                    <li><span class="icon flaticon-briefcase"></span> <span th:text="${job.congty != null ? job.congty.tenCongTy : 'Công ty'}">Công ty</span></li>
                    <li><span class="icon flaticon-map-locator"></span> <span th:text="${job.thanhPhoLV != null && job.quocGiaLV != null ? job.thanhPhoLV + ', ' + job.quocGiaLV : 'đang cập nhật'}">Địa điểm</span></li>
                    <li><span class="icon flaticon-clock-3"></span> <span th:text="${#dates.format(job.ngayDang, 'dd/MM/yyyy')}">Ngày đăng</span></li>
                    <li><span class="icon flaticon-money"></span> <span th:text="${job.mucLuong > 0 ? job.mucLuong + 'triệu VNĐ' : 'Thỏa thuận'}">Mức lương</span></li>
                  </ul>
                </div>
                <ul class="job-other-info">
                  <li th:class="${job.hinhThucLV == 'Toàn thời gian' ? 'time mb-0' : 
                                  job.hinhThucLV == 'Bán thời gian' ? 'time part-time mb-0' : 
                                  job.hinhThucLV == 'Tự do' ? 'freelance mb-0' : 
                                  'internship mb-0'}" 
                      th:text="${job.hinhThucLV == 'Toàn thời gian' ? 'Full Time' : 
                               job.hinhThucLV == 'Bán thời gian' ? 'Part Time' : 
                               job.hinhThucLV == 'Tự do' ? 'Freelance' : 
                                job.hinhThucLV == 'Thực tập' ? 'Internship' :
                               'Tạm thời'}">
                    Full Time
                  </li>
                </ul>
                <a th:href="@{/ungvien/add-donut/{id}(id=${job.id})}" class="theme-btn btn-dark-blue">Ứng tuyển</a>
              </div>
            </div>

          </div>
          
          <!-- View All Jobs Button -->
          <div class="text-center mt-30">
            <a th:href="@{/dstintd}" class="theme-btn btn-style-one large">Xem tất cả việc làm</a>
          </div>
        </div>
      </div>
    </div>
</section>
    <!-- End Job Section -->

    <!-- Features Section -->
    <section class="layout-pt-60 layout-pb-60">
        <div class="auto-container">
            <div class="sec-title-outer">
                <div class="sec-title">
                    <h2>Thành phố nổi bật</h2>
                    <div class="text">Thử sức với những cơ hội ở thành phố lớn</div>
                </div>
                <a th:href="@{/dstintd}" class="button -arrow text-dark-blue">Tìm tất cả thành phố <span class="fa fa-angle-right"></span></a>
            </div>
  
            <div class="row wow fadeInUp">
  
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <!-- Feature Block -->
                    <div class="feature-block">
                        <div class="inner-box">
                            <figure class="image"><img th:src="@{fe/images/index-15/cities/1.png}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="content">
                                    <h5>New York</h5>
                                    <span class="total-jobs">12 công việc</span>
                                    <a th:href="@{/dstintd}" class="overlay-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <!-- Feature Block -->
                    <div class="feature-block">
                        <div class="inner-box">
                            <figure class="image"><img th:src="@{fe/images/index-15/cities/HCM.jpg}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="content">
                                    <h5>Hồ Chí Minh</h5>
                                    <span class="total-jobs">12 công việc</span>
                                    <a th:href="@{/dstintd}" class="overlay-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <!-- Feature Block -->
                    <div class="feature-block">
                        <div class="inner-box">
                            <figure class="image"><img th:src="@{fe/images/index-15/cities/3.png}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="content">
                                    <h5>London</h5>
                                    <span class="total-jobs">12 công việc</span>
                                    <a th:href="@{/dstintd}" class="overlay-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <!-- Feature Block -->
                    <div class="feature-block">
                        <div class="inner-box">
                            <figure class="image"><img th:src="@{fe/images/index-15/cities/4.png}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="content">
                                    <h5>Los Angeles</h5>
                                    <span class="total-jobs">12 công việc</span>
                                    <a th:href="@{/dstintd}" class="overlay-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  
            </div>
        </div>
    </section>
    <!-- End Features Section -->

    <!-- Testimonial Section -->
    <section class="testimonial-section">
      <div class="container-fluid">
        <!-- Sec Title -->
        <div class="sec-title text-center">
          <h2>Phản hồi của người dùng</h2>
        </div>

        <div class="carousel-outer wow fadeInUp">

          <!-- Testimonial Carousel -->
          <div class="testimonial-carousel owl-carousel owl-theme">

            <!--Testimonial Block -->
            <div class="testimonial-block">
              <div class="inner-box">
                <h4 class="title">Nền tảng chất lượng</h4>
                <div class="text">1 chặng đường khởi nghiệp sẽ đầy khó khăn nếu không có TalentHub! Cảm ơn TalentHub đã đem tới những đồng nghiệp chất lượng</div>
                <div class="info-box">
                  <div class="thumb"><img th:src="@{fe/images/resource/testi-thumb-1.png}" alt=""></div>
                  <h4 class="name">Nicole Wells</h4>
                  <span class="designation">Web Developer</span>
                </div>
              </div>
            </div>

            <!--Testimonial Block -->
            <div class="testimonial-block">
              <div class="inner-box">
                <h4 class="title">Chất lượng tuyệt vời!</h4>
                <div class="text">Nếu không có TalentHub, tôi đã trở thành người vô gia cư, họ đã tìm cho tôi một công việc và giúp tôi giải quyết mọi thứ một cách nhanh chóng! Thực sự cảm ơn TalentHub rất nhiều</div>
                <div class="info-box">
                  <div class="thumb"><img th:src="@{fe/images/resource/testi-thumb-2.png}" alt=""></div>
                  <h4 class="name">Lân Võ</h4>
                  <span class="designation">Dev</span>
                </div>
              </div>
            </div>

            <!--Testimonial Block -->
            <div class="testimonial-block">
              <div class="inner-box">
                <h4 class="title">Awesome Design </h4>
                <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
                <div class="info-box">
                  <div class="thumb"><img th:src="@{fe/images/resource/testi-thumb-3.png}" alt=""></div>
                  <h4 class="name">Ashley Jenkins</h4>
                  <span class="designation">Designer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Testimonial Section -->

    

    

    
    <!-- End Call To Action -->

    <!-- Main Footer -->
    <div th:replace="~{user/layout/footer :: footer}"></div>
    <!-- End Main Footer -->


  </div><!-- End Page Wrapper -->

  <div th:replace="~{user/layout/script :: script}"></div>
  <script>
document.addEventListener('DOMContentLoaded', function() {
  // Xử lý lọc công việc theo loại
  const jobTypeFilters = document.querySelectorAll('.job-type-filter');
  
  jobTypeFilters.forEach(filter => {
    filter.addEventListener('change', function() {
      filterJobs();
    });
  });
  
  function filterJobs() {
    const jobBlocks = document.querySelectorAll('.job-block-five');
    const selectedTypes = Array.from(document.querySelectorAll('.job-type-filter:checked'))
                              .map(checkbox => checkbox.dataset.type);
    
    jobBlocks.forEach(block => {
      const jobType = block.dataset.jobType;
      
      if (selectedTypes.length === 0 || selectedTypes.includes(jobType)) {
        block.style.display = '';
      } else {
        block.style.display = 'none';
      }
    });
  }
  
  // Chạy lọc ban đầu khi trang tải
  filterJobs();
});
</script>
</body>
</html>