<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{user/layout/head :: head}"></head>

<body>

  <div class="page-wrapper dashboard">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header th:replace="~{user/layout/header :: header}"></header>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div th:replace="~{nhatuyendung/layout/sidebar :: sidebar}"></div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
          <h3>Đăng tin tuyển dụng mới</h3>
          <div class="text">Hãy nhập đầy đủ thông tin để thu hút ứng viên!</div>
        </div>

        <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
        <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>

        <div class="row">
          <div class="col-lg-12">
            <!-- Ls widget -->
            <div class="ls-widget">
              <div class="tabs-box">
                <div class="widget-title">
                  <h4>Thông tin tuyển dụng</h4>
                </div>

                <div class="widget-content">
                  <form class="default-form" method="post" th:action="@{/nhatd/add-tintd}" th:object="${tinTuyenDung}">
                    <div class="row">
                      <!-- Tiêu đề công việc -->
                      <div class="form-group col-lg-12 col-md-12">
                        <label>Tiêu đề công việc <span class="required">*</span></label>
                        <input type="text" th:field="*{tieuDe}" required placeholder="Ví dụ: Tuyển dụng Lập trình viên Frontend">
                        <div class="text-danger" th:if="${#fields.hasErrors('tieuDe')}" th:errors="*{tieuDe}"></div>
                      </div>

                      <!-- Mô tả công việc -->
                      <div class="form-group col-lg-12 col-md-12">
                        <label>Mô tả công việc <span class="required">*</span></label>
                        <textarea th:field="*{moTaCongViec}" required placeholder="Mô tả chi tiết về công việc, trách nhiệm, vai trò..."></textarea>
                        <div class="text-danger" th:if="${#fields.hasErrors('moTaCongViec')}" th:errors="*{moTaCongViec}"></div>
                      </div>

                      <!-- Yêu cầu -->
                      <div class="form-group col-lg-12 col-md-12">
                        <label>Yêu cầu công việc <span class="required">*</span></label>
                        <textarea th:field="*{yeuCau}" required placeholder="Các kỹ năng, kinh nghiệm, bằng cấp yêu cầu..."></textarea>
                        <div class="text-danger" th:if="${#fields.hasErrors('yeuCau')}" th:errors="*{yeuCau}"></div>
                      </div>

                      <!-- Lĩnh vực -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Lĩnh vực <span class="required">*</span></label>
                        <div class="chosen-outer" style="width: 100%;">
                          <select class="chosen-select" th:field="*{linhVuc}" style="width: 100%;" required>
                            <option value="">-- Chọn lĩnh vực --</option>
                            <option value="Kế toán - Tài chính">Kế toán - Tài chính</option>
                            <option value="Công nghệ thông tin">Công nghệ thông tin</option>
                            <option value="Dịch vụ">Dịch vụ</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Nhân sự">Nhân sự</option>
                            <option value="Chăm sóc sức khoẻ">Chăm sóc sức khoẻ</option>
                            <option value="Thiết kế">Thiết kế</option>
                            <option value="Giáo dục - Đào tạo">Quản lý dự án</option>
                            <option value="Du lịch - Dịch vụ - Giải trí">Công nghiệp ô tô</option>
                            <option value="Khác">Khác</option>
                          </select>
                        </div>
                        <div class="text-danger" th:if="${#fields.hasErrors('linhVuc')}" th:errors="*{linhVuc}"></div>
                    </div>

                      <!-- Hình thức làm việc -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Hình thức làm việc <span class="required">*</span></label>
                        <div class="chosen-outer" style="width: 100%;">
                            <select class="chosen-select" th:field="*{hinhThucLV}" style="width: 100%;" required>
                            <option value="">-- Chọn hình thức --</option>
                            <option value="Toàn thời gian">Toàn thời gian</option>
                            <option value="Bán thời gian">Bán thời gian</option>
                            <option value="Thực tập">Thực tập</option>
                            <option value="Tự do">Tự do</option>
                            <option value="Tạm thời">Tạm thời</option>
                            </select>
                        </div>
                        <div class="text-danger" th:if="${#fields.hasErrors('hinhThucLV')}" th:errors="*{hinhThucLV}"></div>
                    </div>

                      <!-- Mức lương -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Mức lương (triệu VNĐ) <span class="required">*</span></label>
                        <input type="number" th:field="*{mucLuong}" required placeholder="15">
                        <div class="text-danger" th:if="${#fields.hasErrors('mucLuong')}" th:errors="*{mucLuong}"></div>
                      </div>

                      <!-- Hạn nộp hồ sơ -->
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Hạn nộp hồ sơ <span class="required">*</span></label>
                        <input type="date" th:field="*{hanNop}" required placeholder="Ví dụ: 2023/12/31">
                        <div class="text-danger" th:if="${#fields.hasErrors('hanNop')}" th:errors="*{hanNop}"></div>
                      </div>

                      <!-- Địa điểm làm việc -->
                       <div class="form-group col-lg-6 col-md-12">
                        <label>Quốc gia</label>
                        <div class="chosen-outer" style="width: 100%;">
                            <select class="chosen-select" th:field="*{quocGiaLV}" style="width: 100%;" required>
                            <option value="">-- Chọn quốc gia --</option>
                            <option value="Việt Nam">Việt Nam</option>
                            <option value="USA">USA</option>
                            <option value="Trung Quốc">Trung Quốc</option>
                            <option value="Nhật Bản">Nhật Bản</option>
                            <option value="Thái Lan">Thái Lan</option>
                            </select>
                        </div>
                       </div>
                      <div class="form-group col-lg-6 col-md-12">
                        <label>Thành phố</label>
                        <div class="chosen-outer" style="width: 100%;">
                        <select class="chosen-select" th:field="*{thanhPhoLV}" style="width: 100%;" required>
                            <option value="">-- Chọn thành phố --</option>
                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                            <option value="LA">LA</option>
                            <option value="Bắc Kinh">Bắc Kinh</option>
                            <option value="Tokyo">Tokyo</option>
                            <option value="BangKok">BangKok</option>
                        </select>
                        </div>
                      </div>
                      <div class="form-group col-lg-12 col-md-12">
                        <label>Địa điểm làm việc <span class="required">*</span></label>
                        <input type="text" th:field="*{diaDiemLV}" required placeholder="Ví dụ: 123 Nguyễn Văn Linh, Quận 7, TP. Hồ Chí Minh">
                        <div class="text-danger" th:if="${#fields.hasErrors('diaDiemLV')}" th:errors="*{diaDiemLV}"></div>
                      </div>
                      <div class="form-group col-lg-3 col-md-12">
                        <label>Latitude</label>
                        <input type="text" name="name" placeholder="Melbourne">
                      </div>

                      <!-- Input -->
                      <div class="form-group col-lg-3 col-md-12">
                        <label>Longitude</label>
                        <input type="text" name="name" placeholder="Melbourne">
                      </div>

                      <!-- Input -->
                      <div class="form-group col-lg-12 col-md-12">
                        <button class="theme-btn btn-style-three">Search Location</button>
                      </div>


                      <div class="form-group col-lg-12 col-md-12">
                        <div class="map-outer">
                          <div class="map-canvas map-height" data-zoom="12" data-lat="-37.817085" data-lng="144.955631" data-type="roadmap" data-hue="#ffc400" data-title="Envato" data-icon-path="images/resource/map-marker.png" data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                          </div>
                        </div>
                      </div>

                      <!-- Trạng thái -->
                      <input type="hidden" th:field="*{trangThai}" value="dangtuyen">

                      <!-- Input -->
                      <div class="form-group col-lg-12 col-md-12 text-right">
                        <button type="submit" class="theme-btn btn-style-one">Đăng tin</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div th:replace="~{nhatuyendung/layout/footer :: footer}"></div>

  </div><!-- End Page Wrapper -->

  <div th:replace="~{user/layout/script :: script}"></div>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDaaCBm4FEmgKs5cfVrh3JYue3Chj1kJMw&amp;ver=5.2.4"></script>
  <script th:src="@{/fe/js/map-script.js}"></script>
  <style>
  input[type="date"] {
    background-color: #F0F5F7 !important;
    border: 1px solid #F0F5F7 !important;
    border-radius: 8px !important;
    height: 60px !important;
    width: 100% !important;
    padding: 15px 20px !important;
    color: #696969 !important;
    box-sizing: border-box !important;
    font-size: 15px !important;
    line-height: 30px !important;
  }

  input[type="date"]:focus {
    border-color: #1967D2 !important;
    background: #ffffff !important;
  }
</style>
</body>
</html>