<header class="main-header" th:fragment="header">

    <!-- Main box -->
    <div class="main-box">
      <!--Nav Outer -->
      <div class="nav-outer">
        <div class="logo-box">
          <div class="logo">
            <a th:href="@{/}">
              <img th:src="@{/fe/images/logo.svg}" alt="" title="">
            </a>
          </div>
        </div>

        <nav class="nav main-menu">
          <ul class="navigation" id="navbar">

            <li>
              <a th:href="@{/dstintd}">Tìm việc</a>
            </li>

            <li>
              <a th:href="@{/dscongty}">Công ty</a>
            </li>

            <li>
              <a th:href="@{/dsungvien}">Ứng viên</a>
            </li>


            <!-- Only for Mobile View -->
            <li class="mm-add-listing">
              <a th:href="@{nhatd/add-tintd}" class="theme-btn btn-style-one">Đăng tin tuyển dụng</a>
              <span>
                <span class="contact-info">
                  <span class="phone-num"><span>Liên hệ</span><a th:href="@{tel:1234567890}">123 456 7890</a></span>
                  <span class="address">TP. Hồ Chí Minh, Việt Nam</span>
                  <a th:href="@{mailto:support@superio.com}" class="email">support@talenthub.com</a>
                </span>
                <span class="social-links">
                  <a th:href="@{fe/#}"><span class="fab fa-facebook-f"></span></a>
                  <a th:href="@{fe/#}"><span class="fab fa-twitter"></span></a>
                  <a th:href="@{fe/#}"><span class="fab fa-instagram"></span></a>
                  <a th:href="@{fe/#}"><span class="fab fa-linkedin-in"></span></a>
                </span>
              </span>
            </li>
          </ul>
        </nav>
        <!-- Main Menu End-->
      </div>
      <div sec:authorize="!isAuthenticated()">
        <div class="outer-box">
          <!-- Add Listing -->
          <a th:href="@{ungvien/upload-cv}" class="upload-cv"> Đăng tải CV</a>
          <!-- Login/Register -->
          <div class="btn-box">
            <a th:href="@{/login}" class="theme-btn btn-style-three">Đăng nhập / Đăng ký</a>
            <a th:href="@{nhatd/add-tintd}" class="theme-btn btn-style-one">Đăng tin tuyển dụng</a>
          </div>
        </div>
      </div>
      <div sec:authorize="hasAuthority('RECRUITER')">
        <div class="outer-box">
          <button class="menu-btn">
            <span class="count">1</span>
            <span class="icon la la-heart-o"></span>
          </button>

          <button class="menu-btn">
            <span class="icon la la-bell"></span>
          </button>

          <!-- Dashboard Option -->
          <div class="dropdown dashboard-option">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
              <img th:if="${#authentication.principal.user.hinhAnh != null}" th:src="@{'/fe/images/resource/avatar/' + ${#authentication.principal.user.hinhAnh}}" alt="Candidate Image" class="thumb">
              <img th:unless="${#authentication.principal.user.hinhAnh != null}" th:src="@{/fe/images/resource/avatar/default.jpg}" alt="Default Avatar" class="thumb">
              <span class="name" th:text="${#authentication.principal.user.username}">My Account</span>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item" data-urls="/nhatd">
                <a th:href="@{/nhatd}"> <i class="la la-home"></i> Dashboard</a>
              </li>
              <li class="nav-item" data-urls="/nhatd/edit-congty">
                <a th:href="@{/nhatd/edit-congty}"><i class="la la-user-tie"></i>Thông tin công ty</a>
              </li>
              <li class="nav-item" data-urls="/nhatd/add-tintd">
                <a th:href="@{/nhatd/add-tintd}"><i class="la la-paper-plane"></i>Đăng tin</a>
              </li>
              <li class="nav-item" data-urls="/nhatd/dstintd,/nhatd/edit-tintd,/nhatd/dsdonut">
                <a th:href="@{/nhatd/dstintd}"><i class="la la-briefcase"></i>QL tin tuyển dụng</a>
              </li>          
              <li class="nav-item" data-urls="/nhatd/dsbaitest,/nhatd/chitiet-baitest,/nhatd/add-baitest,/nhatd/ds-truycap,/nhatd/add-truycap,/nhatd/edit-baitest,/nhatd/dskqbaitest">
                <a th:href="@{/nhatd/dsbaitest}"><i class="la la-file-invoice"></i>QL bài test</a>
              </li>
              <li class="nav-item" data-urls="/nhatd/dsphongvan,/nhatd/chitiet-phongvan,/nhatd/add-phongvan,/nhatd/edit-phongvan">
                <a th:href="@{/nhatd/dsphongvan}"><i class="la la-box"></i>QL phỏng vấn</a>
              </li>
              <li class="nav-item" data-urls="/nhatd/ungvien-yeuthich">
                <a th:href="@{/nhatd/ungvien-yeuthich}"><i class="la la-bookmark-o"></i>Ứng viên yêu thích</a>
              </li>
              <li class="nav-item" data-urls="/user/edit-user">
                <a th:href="@{/user/edit-user}"><i class="la la-user-alt"></i>Thông tin cá nhân</a>
              </li>
              <li class="nav-item" data-urls="/doi-password">
                <a th:href="@{/doi-password}"><i class="la la-lock"></i>Thay đổi mật khẩu</a>
              </li>
              
              <li>
                <a onclick="confirmLogout()"><i class="la la-sign-out"></i>Đăng xuất</a>
              </li>
              <li>
                <a th:href="@{index.html}"><i class="la la-trash"></i>Xoá tài khoản</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div sec:authorize="hasAuthority('CANDIDATE')">
        <div class="outer-box">
          <button class="menu-btn">
            <span class="count">1</span>
            <span class="icon la la-heart-o"></span>
          </button>

          <button class="menu-btn">
            <span class="icon la la-bell"></span>
          </button>

          <!-- Dashboard Option -->
          <div class="dropdown dashboard-option">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
              <img th:if="${#authentication.principal.user.hinhAnh != null}" th:src="@{'/fe/images/resource/avatar/' + ${#authentication.principal.user.hinhAnh}}" alt="Candidate Image" class="thumb">
              <img th:unless="${#authentication.principal.user.hinhAnh != null}" th:src="@{/fe/images/resource/avatar/default.jpg}" alt="Default Avatar" class="thumb">
              <span class="name" th:text="${#authentication.principal.user.username}">My Account</span>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item" data-urls="/ungvien">
                <a th:href="@{/ungvien}"> <i class="la la-home"></i> Dashboard</a>
              </li>
              <li class="nav-item" data-urls="/ungvien/edit-user,/ungvien/add-hocvan,/ungvien/add-kinhnghiem,/ungvien/add-thanhtuu">
                <a th:href="@{/ungvien/edit-user}"><i class="la la-user-tie"></i>Thông tin cá nhân</a>
              </li>
              <li class="nav-item" data-urls="/ungvien/dsdonut">
                <a th:href="@{/ungvien/dsdonut}"><i class="la la-briefcase"></i>DS đơn ứng tuyển</a>
              </li>          
              <li class="nav-item" data-urls="/ungvien/dsbaitest,/ungvien/chitiet-baitest">
                <a th:href="@{/ungvien/dsbaitest}"><i class="la la-file-invoice"></i>Bài test</a>
              </li>
              <li class="nav-item" data-urls="/ungvien/phong-van">
                <a th:href="@{/ungvien/phong-van}"><i class="la la-box"></i>Phỏng vấn</a>
              </li>
              <li class="nav-item" data-urls="/ungvien/tintd-yeuthich">
                <a th:href="@{/ungvien/tintd-yeuthich}"><i class="la la-bookmark-o"></i>Công việc yêu thích</a>
              </li>
              <li class="nav-item" data-urls="/doi-password">
                <a th:href="@{/doi-password}"><i class="la la-lock"></i>Thay đổi mật khẩu</a>
              </li>
              
              <li>
                <a onclick="confirmLogout()"><i class="la la-sign-out"></i>Đăng xuất</a>
              </li>
              <li>
                <a th:href="@{index.html}"><i class="la la-trash"></i>Xoá tài khoản</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div sec:authorize="hasAuthority('CV_STAFF')">
        <div class="outer-box">
          <button class="menu-btn">
            <span class="count">1</span>
            <span class="icon la la-heart-o"></span>
          </button>

          <button class="menu-btn">
            <span class="icon la la-bell"></span>
          </button>

          <!-- Dashboard Option -->
          <div class="dropdown dashboard-option">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
              <img th:if="${#authentication.principal.user.hinhAnh != null}" th:src="@{'/fe/images/resource/avatar/' + ${#authentication.principal.user.hinhAnh}}" alt="Candidate Image" class="thumb">
              <img th:unless="${#authentication.principal.user.hinhAnh != null}" th:src="@{/fe/images/resource/avatar/default.jpg}" alt="Default Avatar" class="thumb">
              <span class="name" th:text="${#authentication.principal.user.username}">My Account</span>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item" data-urls="/nvhs">
                <a th:href="@{/nvhs}"> <i class="la la-home"></i> Dashboard</a>
              </li>
              <li class="nav-item" data-urls="/nvhs/dstintd,/nvhs/dsdonut">
                <a th:href="@{/nvhs/dstintd}"><i class="la la-briefcase"></i>QL tin tuyển dụng</a>
              </li>          
              <li class="nav-item" data-urls="/nvhs/dsbaitest,/nvhs/dskqbaitest">
                <a th:href="@{/nvhs/dsbaitest}"><i class="la la-file-invoice"></i>QL bài test</a>
              </li>
              <li class="nav-item" data-urls="/user/edit-user">
                <a th:href="@{/user/edit-user}"><i class="la la-user-alt"></i>Thông tin cá nhân</a>
              </li>
              <li class="nav-item" data-urls="/doi-password">
                <a th:href="@{/doi-password}"><i class="la la-lock"></i>Thay đổi mật khẩu</a>
              </li>
              
              <li>
                <a onclick="confirmLogout()"><i class="la la-sign-out"></i>Đăng xuất</a>
              </li>
              <li>
                <a th:href="@{index.html}"><i class="la la-trash"></i>Xoá tài khoản</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div sec:authorize="hasAuthority('HR_STAFF')">
        <div class="outer-box">
          <button class="menu-btn">
            <span class="count">1</span>
            <span class="icon la la-heart-o"></span>
          </button>

          <button class="menu-btn">
            <span class="icon la la-bell"></span>
          </button>

          <!-- Dashboard Option -->
          <div class="dropdown dashboard-option">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
              <img th:if="${#authentication.principal.user.hinhAnh != null}" th:src="@{'/fe/images/resource/avatar/' + ${#authentication.principal.user.hinhAnh}}" alt="Candidate Image" class="thumb">
              <img th:unless="${#authentication.principal.user.hinhAnh != null}" th:src="@{/fe/images/resource/avatar/default.jpg}" alt="Default Avatar" class="thumb">
              <span class="name" th:text="${#authentication.principal.user.username}">My Account</span>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item" data-urls="/nvtd">
                <a th:href="@{/nvtd}"> <i class="la la-home"></i> Dashboard</a>
              </li>
              <li class="nav-item" data-urls="/nvtd/dsphongvan,/nvtd/edit-phongvan">
                <a th:href="@{/nvtd/dsphongvan}"><i class="la la-box"></i>QL phỏng vấn</a>
              </li>
              <li class="nav-item" data-urls="/user/edit-user">
                <a th:href="@{/user/edit-user}"><i class="la la-user-alt"></i>Thông tin cá nhân</a>
              </li>
              <li class="nav-item" data-urls="/doi-password">
                <a th:href="@{/doi-password}"><i class="la la-lock"></i>Thay đổi mật khẩu</a>
              </li>
              <li>
                <a onclick="confirmLogout()"><i class="la la-sign-out"></i>Đăng xuất</a>
              </li>
              <li>
                <a th:href="@{index.html}"><i class="la la-trash"></i>Xoá tài khoản</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Mobile Header -->
    <div class="mobile-header">
      <div class="logo"><a th:href="@{/}"><img th:src="@{fe/images/logo.svg}" alt="" title=""></a></div>

      <!--Nav Box-->
      <div class="nav-outer clearfix">

        <div class="outer-box">
          <!-- Login/Register -->
          <div class="login-box">
            <a th:href="@{/login}"><span class="icon-user"></span></a>
          </div>
          <div sec:authorize="hasAuthority('RECRUITER')">
            <button id="toggle-user-sidebar"><img th:src="@{fe/images/resource/company-6.png}" alt="avatar" class="thumb"></button>
          </div>
          <a th:href="@{#nav-mobile}" class="mobile-nav-toggler"><span class="flaticon-menu-1"></span></a>
        </div>
      </div>
    </div>

    <!-- Mobile Nav -->
    <div id="nav-mobile"></div>
  </header>