<div class="user-sidebar" th:fragment="sidebar">
    <div class="sidebar-inner">
        <ul class="navigation">
          <li class="nav-item" data-urls="/ungvien">
            <a th:href="@{/ungvien}"> <i class="la la-home"></i> Dashboard</a>
          </li>
          <li class="nav-item" data-urls="/ungvien/edit-user,/ungvien/add-hocvan,/ungvien/add-kinhnghiem,/ungvien/add-thanhtuu">
            <a th:href="@{/ungvien/edit-user}"><i class="la la-user-tie"></i>Thông tin cá nhân</a>
          </li>
          <li class="nav-item" data-urls="/ungvien/dsdonut">
            <a th:href="@{/ungvien/dsdonut}"><i class="la la-briefcase"></i>DS đơn ứng tuyển</a>
          </li>          
          <li class="nav-item" data-urls="/ungvien/dsbaitest,/ungvien/chitiet-baitest">
            <a th:href="@{/ungvien/dsbaitest}"><i class="la la-file-invoice"></i>Bài test</a>
          </li>
          <li class="nav-item" data-urls="/ungvien/phong-van">
            <a th:href="@{/ungvien/phong-van}"><i class="la la-box"></i>Phỏng vấn</a>
          </li>
          <li class="nav-item" data-urls="/ungvien/tintd-yeuthich">
            <a th:href="@{/ungvien/tintd-yeuthich}"><i class="la la-bookmark-o"></i>Công việc yêu thích</a>
          </li>
          <li class="nav-item" data-urls="/doi-password">
            <a th:href="@{/doi-password}"><i class="la la-lock"></i>Thay đổi mật khẩu</a>
          </li>
          
          <li>
            <a onclick="confirmLogout()"><i class="la la-sign-out"></i>Đăng xuất</a>
          </li>
          <li>
            <a th:href="@{index.html}"><i class="la la-trash"></i>Xoá tài khoản</a>
          </li>
        </ul>
    </div>
</div>
